[package]

name = "handlebars"
version = "0.25.3"
authors = ["Ning Sun <sunng@about.me>"]
description = "Handlebars templating implemented in Rust."
license = "MIT"
keywords = ["handlebars", "templating", "web"]
categories = ["template-engine"]
homepage = "https://github.com/sunng87/handlebars-rust"
repository = "https://github.com/sunng87/handlebars-rust"
documentation = "https://docs.rs/handlebars/"
readme = "README.md"

[lib]

name = "handlebars"
path = "src/lib.rs"

[dependencies]

log = "^0.3.1"
quick-error = "^1.0.0"
pest = "^0.3.0"
serde_json = { version = "^0.9.0", optional = true }
rustc-serialize = { version = "^0.3.15", optional = true }
regex = "^0.2.0"
lazy_static = "^0.2.2"

serde = { version = "^0.9.0", optional = true }
serde_derive = { version = "^0.9.0", optional = true }

[features]
default = ["rustc_ser_type", "partial4"]
rustc_ser_type = ["rustc-serialize"]
serde_type = ["serde_json"]
serde_test = ["serde_type", "serde", "serde_derive"]
partial4 = []
partial_legacy = []

[dev-dependencies]
env_logger = "^0.4.0"
maplit = "^0.1.3"
tojson_macros = "^0.3.0"

[package.metadata.release]
sign-commit = true
upload-doc = true
