[package]

name = "handlebars"
version = "1.0.0-beta.1"
authors = ["Ning Sun <sunng@about.me>"]
description = "Handlebars templating implemented in Rust."
license = "MIT"
keywords = ["handlebars", "templating", "web"]
categories = ["template-engine"]
homepage = "https://github.com/sunng87/handlebars-rust"
repository = "https://github.com/sunng87/handlebars-rust"
documentation = "https://docs.rs/crate/handlebars/"
readme = "README.md"

[lib]

name = "handlebars"
path = "src/lib.rs"

[dependencies]

log = "^0.4.0"
quick-error = "^1.0.0"
pest = "^1.0.0"
pest_derive = "^1.0.0"
serde = "^1.0.0"
serde_json = "^1.0.0"
regex = "^0.2.0"
lazy_static = "^1.0.0"

[dev-dependencies]
env_logger = "^0.4.0"
maplit = "^1.0.0"
serde_derive = "^1.0.0"

[package.metadata.release]
sign-commit = true
upload-doc = true
pre-release-replacements = [ {file="CHANGELOG.md", search="Unreleased", replace="{{version}}"}, {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}"} ]

[badges]
maintenance = { status = "actively-developed" }
